<p id="notice"><%= notice %></p>
<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>
<p>
  <strong>Birth date:</strong>
  <%= @employee.birth_date %>
</p>
<p>
  <strong>Start date:</strong>
  <%= @employee.start_date %>
</p>
<p>
  <strong>Počet odpracovaných rokov:</strong>
  <%= Time.current.year-@employee.start_date.year %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
