<%= form_with(model: stop, local: true) do |form| %>
  <% if stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stop.errors.count, "error") %> prohibited this stop from being saved:</h2>

      <ul>
      <% stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order, id: :stop_order %>
  </div>

  <div class="field">
    <%= form.label :track_id %>
    <%= form.number_field :track_id, id: :stop_order %>
  </div>

  <div class="field">
    <%= form.label :station_id %>
    <%= form.number_field :station_id, id: :stop_order %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
