<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @stop.order %>
</p>

<p>
  <strong>Station:</strong>
  <%= @stop.station.label %>
</p>
<p>
  <strong>Track number:</strong>
  <%= @stop.track.number %>
</p>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
