<%= form_with(model: way, local: true) do |form| %>
  <% if way.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(way.errors.count, "error") %> prohibited this way from being saved:</h2>

      <ul>
      <% way.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :delay %>
    <%= form.number_field :delay, id: :way_delay %>
  </div>

  <div class="field">
    <%= form.label :track %>
    <%= form.number_field :track_id, id: :way_track_id %>
  </div>

  <div class="field">
    <%= form.label :locomotive_id %>
    <%= form.number_field :locomotive_id, id: :way_locomotive_id %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
