<p id="notice"><%= notice %></p>

<h1>Ways</h1>

<table>
  <thead>
    <tr>
      <th>Delay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ways.each do |way| %>
      <tr>
        <td><%= way.delay %></td>
        <td><%= link_to 'Show', way %></td>
        <td><%= link_to 'Edit', edit_way_path(way) %></td>
        <td><%= link_to 'Destroy', way, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @ways %>
<%= link_to 'New Way', new_way_path %>
