<p id="notice"><%= notice %></p>

<p>
  <strong>Delay:</strong>
  <%= @way.delay %>
</p>

<p>
  <strong>Track number:</strong>
  <%= @way.track.number %>
</p>

<p>
  <strong>Locomotive manufacturer:</strong>
  <%= @way.locomotive.manufacturer %>
</p>
<p>
  <strong>Locomotive production year:</strong>
  <%= @way.locomotive.production_year %>
</p>

<%= link_to 'Edit', edit_way_path(@way) %> |
<%= link_to 'Back', ways_path %>
