<%= form_with(model: wagon, local: true) do |form| %>
  <% if wagon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wagon.errors.count, "error") %> prohibited this wagon from being saved:</h2>

      <ul>
      <% wagon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :production_year %>
    <%= form.number_field :production_year, id: :wagon_production_year %>
  </div>

  <div class="field">
    <%= form.label :wagon_type %>
    <%= form.text_field :wagon_type, id: :wagon_wagon_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
