<p id="notice"><%= notice %></p>

<h1>Wagons</h1>

<table>
  <thead>
    <tr>
      <th>Production year</th>
      <th>Wagon type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wagons.each do |wagon| %>
      <tr>
        <td><%= wagon.production_year %></td>
        <td><%= wagon.wagon_type %></td>
        <td><%= link_to 'Show', wagon %></td>
        <td><%= link_to 'Edit', edit_wagon_path(wagon) %></td>
        <td><%= link_to 'Destroy', wagon, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Report', report_wagon_path %>
<%= link_to 'New Wagon', new_wagon_path %>
<%= link_to 'Back to all wagons', wagons_path %>


<%= will_paginate @wagons %>