
<%= form_tag("/wagons", method: "get") do %>
  <%= label_tag(:prod_year, "Zadaj rok vyroby") %>
  <%= text_field_tag(:prod_year) %>
  <%= submit_tag("Hladaj") %>
<% end %>

<%= link_to 'Back', wagons_path %>