<p id="notice"><%= notice %></p>

<p>
  <strong>Production year:</strong>
  <%= @wagon.production_year %>
</p>

<p>
  <strong>Wagon type:</strong>
  <%= @wagon.wagon_type %>
</p>

<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', wagons_path %>
