<%= form_with(model: track, local: true) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration, id: :track_duration %>
  </div>

  <div class="field">
    <%= form.label :track_type %>
    <%= form.text_field :track_type, id: :track_track_type %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :track_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
