<p id="notice"><%= notice %></p>

<p>
  <strong>Duration:</strong>
  <%= @track.duration %>
</p>

<p>
  <strong>Track type:</strong>
  <%= @track.track_type %>
</p>

<p>
  <strong>Number:</strong>
  <%= @track.number %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
