<%= form_with(model: passenger, local: true) do |form| %>
  <% if passenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(passenger.errors.count, "error") %> prohibited this passenger from being saved:</h2>

      <ul>
      <% passenger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :passenger_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :passenger_last_name %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, id: :passenger_birth_date %>
  </div>

  <div class="field">
    <%= form.label :entry_station %>
    <%= form.number_field :entry_station, id: :passenger_entry_station %>
  </div>

  <div class="field">
    <%= form.label :exit_station %>
    <%= form.number_field :exit_station, id: :passenger_exit_station %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
