<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @passenger.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @passenger.last_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @passenger.birth_date %>
</p>

<p>
  <strong>Entry station:</strong>
  <%= @passenger.entry_station %>
</p>

<p>
  <strong>Exit station:</strong>
  <%= @passenger.exit_station %>
</p>

<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Back', passengers_path %>
