<!DOCTYPE html>
<html>
  <head>
    <title>DBS app</title>
    <%= csrf_meta_tags %>





    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="mySidenav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/crews">Crews</a></li>
    <li><a href="/employees">Employees</a></li>
    <li><a href="/locomotives">Locomotives</a></li>
    <li><a href="/passengers">Passengers</a></li>
    <li><a href="/stops">Stops</a></li>
    <li><a href="/tracks">Tracks</a></li>
    <li><a href="/wagons">Wagons</a></li>
    <li><a href="/ways">Ways</a></li>
  </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  </body>
</html>
