<%= form_with(model: station, local: true) do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :station_label %>
  </div>

  <div class="field">
    <%= form.label :ticket_sale %>
    <%= form.check_box :ticket_sale, id: :station_ticket_sale %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
