<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @station.label %>
</p>

<p>
  <strong>Ticket sale:</strong>
  <%= @station.ticket_sale %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
