<%= form_with(model: locomotive, local: true) do |form| %>
  <% if locomotive.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(locomotive.errors.count, "error") %> prohibited this locomotive from being saved:</h2>

      <ul>
      <% locomotive.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer, id: :locomotive_manufacturer %>
  </div>

  <div class="field">
    <%= form.label :locomotive_type %>
    <%= form.text_field :locomotive_type, id: :locomotive_locomotive_type %>
  </div>

  <div class="field">
    <%= form.label :production_year %>
    <%= form.number_field :production_year, id: :locomotive_production_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
