<p id="notice"><%= notice %></p>

<h1>Locomotives</h1>

<table>
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Locomotive type</th>
      <th>Production year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locomotives.each do |locomotive| %>
      <tr>
        <td><%= locomotive.manufacturer %></td>
        <td><%= locomotive.locomotive_type %></td>
        <td><%= locomotive.production_year %></td>
        <td><%= link_to 'Show', locomotive %></td>
        <td><%= link_to 'Edit', edit_locomotive_path(locomotive) %></td>
        <td><%= link_to 'Destroy', locomotive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @locomotives %>
<%= link_to 'New Locomotive', new_locomotive_path %>
