<p id="notice"><%= notice %></p>

<p>
  <strong>Manufacturer:</strong>
  <%= @locomotive.manufacturer %>
</p>

<p>
  <strong>Locomotive type:</strong>
  <%= @locomotive.locomotive_type %>
</p>

<p>
  <strong>Production year:</strong>
  <%= @locomotive.production_year %>
</p>

<%= link_to 'Edit', edit_locomotive_path(@locomotive) %> |
<%= link_to 'Back', locomotives_path %>
