<p id="notice"><%= notice %></p>

<h1>Report</h1>



<table>
  <thead>
  <tr>
    <th>Cesta</th>
    <th>Klasifikácia cesty</th>
    <th>Číslo vlaku</th>
    <th>Travanie cesty</th>
    <th>Počet zastávok</th>
    <th>Typ lokomotívy</th>
    <th>Výrobca lokomotívy</th>
    <th>Počet vagónov</th>
    <th colspan="8"></th>
  </tr>
  </thead>

  <tbody>
  <% @selecte.each do |report| %>
    <tr>
      <td><%= report.fetch('wid') %></td>
      <td><%= report.fetch('ttt') %></td>
      <td><%= report.fetch('trn') %></td>
      <td><%= report.fetch('trd') %></td>
      <td><%= report.fetch('wde') %></td>
      <td><%= report.fetch('lolt') %></td>
      <td><%= report.fetch('loma') %></td>
      <td><%= report.fetch('ccc') %></td>

    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @selecte %>
