<p id="notice"><%= notice %></p>

<h1>Tracks</h1>



<%= form_tag("/report_1", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Vyrobca lokomotivy</th>
    <th>Rok vyroby lokomotivy</th>
    <th>Trvanie cesty</th>
    <th>Spokojnost cestujucich</th>
    <th>Typ linky</th>
    <th>Datum</th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>
  <% @selecto.each do |report| %>
    <tr>
      <td><%= report.fetch('lman') %></td>
      <td><%= report.fetch('lprod') %></td>
      <td><%= report.fetch('tdur') %></td>
      <td><%= report.fetch('fas') %></td>
      <td><%= report.fetch('trck_type') %></td>
      <td><%= report.fetch('date') %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @selecto %>